.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom styles starts here */
.App {
  
  height: 100%;
  background-color: darkcyan;
  width:1000px;
  margin: auto;
}

header {
  background-color: rgb(15, 1, 78);
  padding: 10px;
  border: 0px solid cyan;
  display: flex;
  justify-content: flex-start;
  /*
  position: relative;
  width: 100%;
  height: 100px;
  background-color: darksalmon;
  */
}

header .logo {
  background-color: orange;
  /*width: 200px;*/
  height: 70px;
  display: flex;
  /*
  position: absolute;
  line-height: 70px;
  top: 15px;
  left: 10px;
  */
}

header .logo span {
  margin: auto;
  font-family: monospace;
  font-size: 2em;
  font-weight: bold;
  padding: 10px;
}
header nav {
  background-color: yellow;
  margin-left: auto;
  /*
  position: absolute;
  width: 70%;
  height: 70px;
  top: 15px;
  right: 10px;
  line-height: 70px;
  */
}

ul.navigation {
  list-style: none;
}

ul.navigation li {
  display: inline-block;
  padding: 10px;
}

section {
  background-color: green;
  border: 0px solid magenta;
  padding: 10px;
  display: flex;
  justify-content: space-between;

  /*
  position: relative;
  display: flex;
  */
}

section .contentCol {
  background-color: rgb(155, 236, 236);
  /*flex: 1;*/
  flex-basis: 49%;
  min-width: 350px;
  /*margin: 10px;*/
  /*
  min-width: 200px;
  min-height: 500px;
  width: 50%;
  float: left;
  margin: 10px;
  */
}

footer {
  background-color: #dddddd;
  height: 50px;
  padding: 10px;
  border: 0px solid black;
  color: #888888;
  display: flex;
  /*
  position: fixed;
  width: 100%;
  line-height: 50px;
  bottom: 0px;
  */
}

footer .footerItem {
  margin: auto;
}
