#bible-content-wrapper {
    background-color: bisque;
}

#bible-content-wrapper .control-wrapper,
#bible-content-wrapper .control-wrapper > * {
    padding: 5px;
}

#bible-content-wrapper .control-wrapper {
    display: flex;
    align-items: flex-start;
}

#bible-content-wrapper .btnPrev {
    margin-left: auto;
}

#bible-content-wrapper .btnNext {
    margin-left: 10px;
    margin-right: 5px;
}

#bible-content {
    background-color: white;
    padding: 5px;
    color:black;
    /*
    width:100%;
    max-height: 700px;
    height:100$;
    overflow-y: scroll;
    */
    /*font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;*/
    font-family: monospace;
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: left;
}

#bible-content .verseNo {
    color: red;
    font-size: 0.8em;
    margin-right: 5px;
}

#bible-content .verseText {
    color: black;
    font-size: 1.5em;
    margin-left: 5px;
}